<section class="hero">
  <div class="container bg-cover">
    <div class="hero__text">
      <h1 class="hero__title"><span>咬一口</span>就無法忘懷的漢堡</h1>
      <h4 class="hero__subtitle">七夕絕對無法錯過的好滋味<br>
        <i class="fas fa-utensils"></i>
        六角大漢堡
        <i class="fas fa-utensils"></i>
      </h4>
    </div>
  </div>
</section>