<footer class="footer">
  <div class="container container--pall">
    <div class="footer__abouts">
      <div class="footer__about">
        <h3 class="footer__subtitle">關於六角西餐廳</h3>
        <p class="footer__text">Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue
          enim, pulvinar lobortis nibh
          lacinia at.</p>
      </div>
      <div class="footer__about">
        <h3 class="footer__subtitle">聯絡方式</h3>
        <ul class="footer__contact">
          <li>高雄市中正五路到底</li>
          <li><a href="tel:+886 886 886">+886 886 886</a></li>
          <li><a href="mailto:service@hexschool.com">service@hexschool.com</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__social">
      <h2 class="footer__title">六角西餐廳</h2>
      <div class="footer__icons">
        <a href="#" class="footer__icon google">
          <i class="fab fa-google-plus-square"></i>
        </a>
        <a href="#" class="footer__icon twitter">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a href="#" class="footer__icon facebook">
          <i class="fab fa-facebook-square"></i>
        </a>
      </div>
    </div>
  </div>
</footer>