<header class="header">
  <div class="container">
    <h3 class="header__title">
      <a href="/">六角西餐廳</a>
    </h3>
    <a href="#" class="header__toggle hide-for-desktop">
      <i class="fas fa-bars"></i>
    </a>
    <ul class="header__menu">
      <li><a href="/" class="header__menu__link">特色</a></li>
      <li><a href="/menu" class="header__menu__link">菜單</a></li>
      <li><a href="/signIn" class="header__menu__link">登入</a></li>
    </ul>
  </div>
</header>
