<% layout('../layout/layout.ejs') %>
<div class="signup">
  <div class="container container--pall">
    <h2 class="signup__title">六角西餐廳</h2>
    <h3 class="signup__subtitle">享受美食好味道</h3>
    <div class="form form--lg">
      <h4 class="form__title">REGISTER</h4>
      <div class="form__area">
        <p class="form__rule">
          就是這樣條款：<br>
          Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit
          elit,
          elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies
          sapien...
        </p>
        <form class="form__box">
          <div class="form__container">
            <label class="form__label" for="email">Email Address*</label>
            <input type="email" class="form__input email" id="email">
            <i class="far fa-envelope icon"></i>
          </div>
          <div class="form__container">
            <label class="form__label" for="password">Password*</label>
            <input type="password" class="form__input password" id="password">
            <i class="fas fa-unlock-alt icon"></i>
          </div>
          <div class="form__container">
            <input type="password" class="form__input password" id="password">
            <a href="#" class="form__alert">已經有帳號了?</a>
            <i class="fas fa-unlock-alt icon last"></i>
          </div>
          <div class="buttons">
            <a href="login.html" class="button button--primary button--bg">登入</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>